{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [phone_number_dictionary]}
]}.

{relx, [{release, {phone_number_dictionary, "1" },
    [phone_number_dictionary]},

%%  {sys_config, "./config/sys.config"},
%%  {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
    {include_src, false},
    {system_libs, true},
    {include_erts, true}]}]
}]
}.